<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/marjan.karafiloski/Java/Zavodliva">
        <classes>
            
            <class name="frontend.tests.FrontEndTests">
                <methods>
                    <include name="openHomePage"/>
                    <include name="assertHomePageHeaderTitle"/>
                    <include name="registerNewAdmin"/>
                    <include name="loginWithNewUser"/>
                    <include name="failLoginWithNewUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>